body {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%); 
}

#wrapper {
    margin: 1em auto;
    padding: 0;
    width: 960px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

/* header styles */
header {
    grid-column: span 12;
    border: 3px solid black;
    background-color: rgb(255, 134, 229);
    border-radius: 20px;
    font-family: 'Mulish', sans-serif;
}

h1 {
    margin: 15px;
    margin-top: 40px;
    margin-left: 20px;
    font-size: xx-large;
}

.bi {
    font-size: 4em;
    padding: 10px;
}

/* nav rules */
nav {
    grid-column: span 12;
    background-color: black;
    border: 3px solid rgb(255, 134, 229);
    margin-top: 15px;
    border-radius: 20px;
    font-family: 'Mulish', sans-serif;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li{
    display: inline-block;
    margin: 15px;
    margin-left: 25px;
    padding: 5px;
    border-radius: 10px;
}

nav li a {
    color: black;
    text-decoration: none;
    background-color: white;    
    margin: 15px;
    font-size: larger;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    border: 3px solid black;
    transition: background-color 1.0s, width 1.0s, color 1.0s;
}

nav li a:hover {
    color: white;
    text-decoration: none;
    background-color: grey;
    border: 3px solid white;


}

/* main rules */
main {
    background-color: rgb(255, 134, 229);
    border: 3px solid black;
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 15px;
    border-radius: 20px;
    font-family: 'Raleway', sans-serif;
}

main img {
    margin: 10px;
    border-radius: 10px;
    border: 3px solid black;
    grid-column: span 6;
}

main p {
    background-color: white;
    border: 3px solid black;
    margin: 10px;
    margin-left: 25px;
    padding: 10px;
    border-radius: 10px;
    grid-column: span 6;
}

main h2 {
    background-color: white;
    border: 3px solid black;
    margin: 10px;
    padding: 10px;
    grid-column: span 6;
    border-radius: 10px;
    text-align: center;
    grid-column: span 12;
}

main iframe {
    align-content: center;
}


/* footer rules */
footer {
    grid-column: span 12;
    border: 3px solid black;
    background-color: rgb(255, 134, 229);
    margin-top: 15px;
    border-radius: 20px;
    font-family: 'Raleway', sans-serif;
}

footer p {
    margin: 10px;
    padding: 10px;
}

audio {
    grid-column: span 6;
    margin: 60px;
    border: 3px solid black;
    border-radius: 10px;
}

.Video {
    margin: 15px;
    border-radius: 30px;
    grid-column: span 12;
    border: 3px solid black;
}

.bi {
    float: right;
    margin: 10px;
}

a {
    color: black;
    transition: background-color 1.0s, width 1.0s, color 1.0s;
}

a:hover {
    color: gray;
}

.description {
    grid-column: span 12;
    border-radius: 20px;
}

#contactForm {
    grid-column: span 12;
    align-self: center;
}

.label {
    font-size: larger;
    text-decoration: underline;
    font-weight: bold;
}

.top {
    font-weight: 300px;
}

  form {
    grid-column: span 5;
    margin: 25px;
    margin-left: 65px;
    margin-top: 100px;
    padding: 25px;
  }